<template name="tweets">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="http://www.djcrowd.me">DJ Crowd &trade;</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://www.djcrowd.me/index.html#about">About DJ Crowd</a>
                    </li>
                    <li>
                        <a href="http://www.djcrowd.me/index.html#advantage">The Crowd Advantage</a>
                    </li>
                    <li>
                        <a href="http://www.djcrowd.me/signup.html#signup">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	<div class="ui piled feed segment header">
  		<h2 class="ui header">
  			#HackPrinceton
  			<div class="sub header description">Tweet a key word with the hashtag #HackPrinceton and a song with that key word will be played!</div>	
  		</h2>

        <center><div id="player"></div></center>

  		{{#each tweets}}
  			<div class="event">
				<div class="label">
					{{#if retweeted_status}}
						<i class="circular retweet icon"></i>
					{{else}}
						<a href="http://twitter.com/{{user.screen_name}}" title="{{user.name}}">
		  					<img src="{{user.profile_image_url}}">
		  				</a>
		  			{{/if}}
				</div>
				<div class="content">
	  				<div class="date">{{moments created_at}}</div>
	  				<div class="summary">
	  					{{#if retweeted_status}}
	  						<a href="http://twitter.com/{{user.screen_name}}">{{user.name}}</a> retweeted
	  					{{else}}
	  						{{{linkify this}}}
	  					{{/if}}
	  				</div>
	  				{{#if retweeted_status}}
	  					<div class="extra text">
	  						{{{linkify retweeted_status}}}
	  					</div>
	  				{{else}}
		  				{{#if entities.media}}
		  					<div class="extra images">
		  						{{#each entities.media}}
		  							{{#if isPhoto}}
										<a href="{{expanded_url}}"><img src="{{media_url}}" /></a>
									{{/if}}
								{{/each}}
		  					</div>
		  				{{/if}}
		  			{{/if}}
				</div>
  			</div>
		{{/each}}
	</div>
</template>